
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>

<h3>Burası Kendi Oluşturduğumuz View Sayfası</h3>
<table class="table table-bordered">
    <tr>
        <td>Id</td>
        <td>İsim</td>
        <td>Departman</td>
    </tr>
    <tr>
        <th>1</th>
        <th>Gokhan</th>
        <th>Yazılım</th>
    </tr>
</table>